@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: none;
}

/* navbar */

.navbar {
  font-family: Poppins, sans-serif;
}

.active > a:hover {
  color: #fff;
}

.nav-link,
.navbar-brand {
  color: white !important;
}

.active {
  color: #cd5c5c !important;
}

.navbar-nav > li > .nav-link:hover {
  background-color: #cd5c5c;
  border-radius: 15%;
  transition: 0.5s all ease;
  transform: scale(0.8);
}
.nav-item > a:hover {
  color: #fff !important;
}

/* end of navbar */
